/* .area-job-div{
     width: "35%", 
     height: 300,
      background: "white",
      borderRadius:"10px" 
} */

/* .area-job-div{
    width: 35%;
    height:300px ;
    background-color: white;
    border-radius: 10px;
} */


