.swiper {
    width: 100%;
    height: 32rem;
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }


  img{
    width: 100%;
   
    object-fit: cover;
    box-sizing: border-box;
    
  }

  @media screen and (max-width: 768px) {
   
    .swiper-slide {
      width: 100%;
      height: 100% !important;
      object-fit: cover;
      box-sizing: border-box;
  }
  .swiper {
    width: 100%;
    height: 20rem;
   
  }}
  @media screen and (max-width: 576px) {
   
    .swiper-slide {
      width: 100%;
      height: 100% !important;
      object-fit: cover;
      box-sizing: border-box;
  }
  .swiper {
    width: 100%;
    height: 10rem;
   
  }}
