*{
    box-sizing: border-box;
}

/* .category-box-one{
    background-image: url("./assets/plumber.jpeg");
    background-position: center;
    background-size: cover;
    height: 13rem;
} */


/* .category-box-two{
    background-image: url("./assets/homeservice.jpeg");
    background-position: center;
    background-size: cover;
    height: 13rem;
}

.category-box-three{
    background-image: url("./assets/carservice.jpg");
    background-position: center;
    background-size: cover;
    height: 13rem;
}

.category-box-four{
    background-image: url("./assets/skincare.jpeg");
    background-position: center;
    background-size: cover;
    height: 13rem;
}

.category-box-five{
    background-image: url("./assets/petservice.jpeg");
    background-position: center;
    background-size: cover;
    height: 13rem;
}



.category-box-six{
    background-image: url("./assets/healtservices.jpeg");
    background-position: center;
    background-size: cover;
    height: 13rem;
} */

.category-box-one,
.category-box-two,
.category-box-three,
.category-box-four ,.category-box-five,.category-box-six {
    /* filter: grayscale(100%); */
    transition: filter 0.3s ease;
    text-align: center;
    align-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    transition: all 0.3s ease;
}

.category-box-one:hover,
.category-box-two:hover,
.category-box-three:hover,
.category-box-four:hover,.category-box-five:hover,.category-box-six:hover  {
    filter: none;
}

.category-box-one h3 ,
.category-box-two h3,
.category-box-three h3,
.category-box-four h3 ,.category-box-five h3,.category-box-six  h3{
    display: none;
    transition: all 0.5s ease;
}


.category-box-one:hover h3,
.category-box-two:hover h3,
.category-box-three:hover h3,
.category-box-four:hover h3,
.category-box-five:hover h3,
.category-box-six:hover h3 {
    display: block !important;
}

.slick-list button{
   display: none;
}
.slick-list{
    height: 21rem !important;
 }


.slick-track{
    display: flex;
    justify-content: center;
    gap: 2rem;
}